<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict/>
	<key>Non-Consumables</key>
	<array>
		<string>com.ssy.ultimatepackage</string>
		<string>com.ssy.athleteslong</string>
		<string>com.ssy.athletesmedium</string>
		<string>com.ssy.athletesshort</string>
		<string>com.ssy.athletespackage</string>
		<string>com.ssy.backbend</string>
		<string>com.ssy.bedtimelong</string>
		<string>com.ssy.bedtimeshort</string>
		<string>com.ssy.BigButterfly</string>
		<string>com.ssy.Bike</string>
		<string>com.ssy.Boat</string>
		<string>com.ssy.Bow</string>
		<string>com.ssy.brightenlong</string>
		<string>com.ssy.brightenshort</string>
		<string>com.ssy.Butterfly</string>
		<string>com.ssy.calminglong</string>
		<string>com.ssy.calmingmedium</string>
		<string>com.ssy.calmingshort</string>
		<string>com.ssy.Camel</string>
		<string>com.ssy.Cat</string>
		<string>com.ssy.Chair</string>
		<string>com.ssy.ChildsPose</string>
		<string>com.ssy.classroombreak</string>
		<string>com.ssy.classroompackage</string>
		<string>com.ssy.Cow</string>
		<string>com.ssy.Crab</string>
		<string>com.ssy.Crane</string>
		<string>com.ssy.Crocodile</string>
		<string>com.ssy.Dolphin</string>
		<string>com.ssy.DownwardDog</string>
		<string>com.ssy.Eagle</string>
		<string>com.ssy.experiencedpackage</string>
		<string>com.ssy.floor</string>
		<string>com.ssy.Flower</string>
		<string>com.ssy.Frog</string>
		<string>com.ssy.goodbystressshort</string>
		<string>com.ssy.goodbystressshortnofloor</string>
		<string>com.ssy.goodbystresslong</string>
		<string>com.ssy.powerfullong</string>
		<string>com.ssy.powerfulshort</string>
		<string>com.ssy.focuslong</string>
		<string>com.ssy.focusshort</string>
		<string>com.ssy.jazupmybrainsequence</string>
		<string>com.ssy.KickingMule</string>
		<string>com.ssy.LPose</string>
		<string>com.ssy.Lion</string>
		<string>com.ssy.Mosquito</string>
		<string>com.ssy.Mountain</string>
		<string>com.ssy.firstlong</string>
		<string>com.ssy.firstshort</string>
		<string>com.ssy.Namaste</string>
		<string>com.ssy.newtoyoga</string>
		<string>com.ssy.openlong</string>
		<string>com.ssy.openshort</string>
		<string>com.openhips</string>
		<string>com.ssy.Pigeon</string>
		<string>com.ssy.Plow</string>
		<string>com.ssy.Pretzel</string>
		<string>com.ssy.pushmyself</string>
		<string>com.ssy.Rabbit</string>
		<string>com.ssy.RagDoll</string>
		<string>com.ssy.Rainbow</string>
		<string>com.ssy.recharge</string>
		<string>com.ssy.runnerslong</string>
		<string>com.ssy.runnersshort</string>
		<string>com.ssy.Scorpion</string>
		<string>com.ssy.sitting</string>
		<string>com.ssy.Slide</string>
		<string>com.ssy.Snake</string>
		<string>com.ssy.standing</string>
		<string>com.ssy.StandingV</string>
		<string>com.ssy.Swan</string>
		<string>com.ssy.Swimming</string>
		<string>com.ssy.symmetry</string>
		<string>com.ssy.testprepsequence</string>
		<string>com.ssy.Tree</string>
		<string>com.ssy.Triangle</string>
		<string>com.ssy.Turtle</string>
		<string>com.ssy.ultimatepackage</string>
		<string>com.ssy.VPose</string>
		<string>com.ssy.wakeuplong</string>
		<string>com.ssy.wakeupmedium</string>
		<string>com.ssy.wakeupshort</string>
		<string>com.ssy.WarriorOne</string>
		<string>com.ssy.WarriorTwo</string>
		<string>com.ssy.fullssydvd</string>
	</array>
	<key>Subscriptions</key>
	<dict/>
</dict>
</plist>
